<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>我们需要您的位置信息来记录当地天气状况，帮助分析环境诱因</string>
	<key>NSHealthShareUsageDescription</key>
	<string>我们需要读取您的经期数据，以分析月经周期与偏头痛发作的关联。</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>我们需要写入健康数据，以便将您的偏头痛记录同步到Apple健康应用中，方便您统一管理健康数据。</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleDisplayName</key>
	<string>头痛管家</string>
</dict>
</plist>
