<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>我们需要您的位置信息来记录当地天气状况，帮助分析环境诱因</string>
	<key>NSHealthShareUsageDescription</key>
	<string>我们需要读取您的经期数据，以分析月经周期与偏头痛发作的关联。</string>
</dict>
</plist>
